<ion-header>
  <ion-toolbar>

    <ion-title>
      Movis blank
    </ion-title>

    <ion-buttons slot="end">
        <ion-button (click)="onBeerClicked()">
          <ion-icon name="beer" slot="icon-only"></ion-icon>
        </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card *ngFor="let card of cardsData">

    <img src="../../assets/shapes.svg" alt="SVG image">

    <ion-card-header>
      <ion-card-title>{{card.title}}</ion-card-title>
      <ion-card-subtitle>{{card.subtitle}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{card.contentText}}
      <ion-buttons slot="end" class="ion-justify-content-end">
        <ion-button (click)="presentAlert()" color="danger">
          Alert
        </ion-button>
      </ion-buttons>
    </ion-card-content>

  </ion-card>
</ion-content>
